CompileFlags:
  CompilationDatabase: >-
    c:\Users\tainek01\OneDrive -
    Arm\Desktop\en.stm32cubel5_v1-5-0\STM32Cube_FW_L5_V1.5.0\Projects\NUCLEO-L552ZE-Q\Applications\FreeRTOS\FreeRTOS_Mutexes\MDK-ARM\out\RTOS_Mutexes\RTOS_Mutexes
  Add: []
